@import url('./tailwind.min.css');

body {
  background-image: url('../public/img/sea-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.jumbotron {
  @apply bg-black bg-opacity-50 p-8 rounded;
}

.newsletter-form {
  @apply max-w-md mx-auto;
}

.newsletter-form input {
  color: black;
}

.subscriber-list {
  color: white;
  max-height: 300px;
  @apply bg-black bg-opacity-50 p-8 rounded;
}

.scrollable-list {
  overflow-y: auto;
  max-height: 250px;
}

.scrollable-list ul {
  list-style: none;
  height: 200px;
  margin-bottom: 10px;
}